**__pycache__/
**backup/
**git_upload/
**models/
**.log
**temp/
**.bat
**.env
**.pyc
**.gguf
**.DS_Store
**node_modules/
**.git-upload-cache.json
**.prettierignore
**venv/
/webui/.gitignore
/server/.gitignore
**.github/
**.vscode/
**.idea/
**upload_to_github.py
**git-upload-config.json
**llama-b8252-bin-win-cuda-12.4-x64/
**README.md
*data/*
**env/
