**__pycache__/
**backup/
**git_upload/
**models/
**.log
**temp/
**.env
**.pyc
**.gguf
**.DS_Store
**node_modules/
**.git-upload-cache.json
**.prettierignore
**venv/
/webui/.gitignore
/server/.gitignore
**.github/
**.vscode/
**.idea/
**upload_to_github.py
**git-upload-config.json
**llama_cpp/
/server/llama_cpp/
**README.md
*data/*
**env/
